<div class="card-body">

    <form class="signupForm ">
        <h3 class="pl-3 mb-3">Sign Up</h3>
        <div>
            <label for="username-signup" class="col-lg-2">Username:</label>
            <input type="text" id="username-signup" class="col-lg-3" />
        </div>
        <div>
            <label for="email-signup" class="col-lg-2">Email:</label>
            <input type="text" id="email-signup" class="col-lg-3" />
        </div>
        <div>
            <label for="password-signup" class="col-lg-2">Password:</label>
            <input type="password" id="password-signup" class="col-lg-3" />
        </div>
        <div>
            <button type="submit">Sign Up</button>
        </div>
    </form>
</div>
<script src="/javascript/signup.js"></script>